* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    font-family: 'Courier New', Courier;        
}

.bg-image {
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.nav-bg {
    background-color: rgba(116, 92, 253, 0.192);
}

.nav-bg-2 {
    background-color: rgba(103, 2, 170, 0.774);
}

.nav-bg-3 {
    background-color: rgba(229, 162, 255, 0.904);
}

/* Icon Effect */
svg {
    fill: purple;      
}

.icon-container {
    background-color: white;
    border: 1px solid transparent;  
}

.icon-container:hover svg {        
    fill: white;   
}
    
.icon-container:hover {
    border: 1px solid white;  
    background-color: rgba(116, 92, 253, 0.192);
}
/* Card Text Effect */

.card-zoom span {
    position: absolute;
    font-size: 50%;
    visibility: hidden;
    padding: 0;
    transition: font-size 0.5s;
    /* transition-timing-function: linear; */
    transform-style: preserve-2d;
}

.card-zoom:hover span {
    visibility: visible;
    position: relative;      
    font-size: small;
}

.card-zoom .jos {
    padding-top: 0;
    transition: padding-top 1.5s;
    transform-style: preserve-2d;
}

.card-zoom:hover .jos {
    padding-top: 1rem;
}

.card-zoom .card-img {
    padding-bottom: 1rem;
}

.card-zoom:hover .card-img {
    padding-bottom: 0;
}

/* Card Project */
.card-flip {
    position: relative;
}

.card-flip > div {
    backface-visibility: hidden;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* transition-timing-function: linear; */
    width: 100%;
    height: 100%;
    /* margin: 0;
    display: flex; */
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    top: 0;        
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}
/* ./ Card Project */